<!DOCTYPE >

<html lang="en"> 

<head>
<meta charset="utf-8"/>

<link href="static/css/styles.css" rel="stylesheet"/>

<meta name="viewport" content="width= device-width, initial-scale=1"/>


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik&display=swap" rel="stylesheet">


<script src= "static/js/index.js"> </script>
<script src="https://kit.fontawesome.com/8a181a8ab1.js" crossorigin="anonymous"></script>
<script src="https://rawcdn.githack.com/akzhy/Vara/16e30acca2872212e28735cfdbaba696a355c780/src/vara.min.js"></script>


<link rel="icon" type="image/ico" href="static/images/favicon.png">

<title> Quiz game </title>
</head>

<body>

<!-- putting three question marks in the top left and top right corners -->

<i class="imgL qMark fa-solid fa-question"></i>
<i class="qMark fa-solid fa-question"></i> 

<i class="imgR qMark fa-solid fa-question"></i>  
<i class="imgR qMark fa-solid fa-question"></i>  
<div id="clear"></div>

<i class="imgL qMark fa-solid fa-question"></i> 
<i class="imgR qMark fa-solid fa-question"></i> 
<div id="clear"></div>




<h1 class="heading">Test Your General Knowledge!</h1>


<!-- the topics -->
<div class= "topics">

<div class= "topic1"> <div class="title"> HISTORY</div> </div>

<div class= "topic2"> <div class="title">  GEOGRAPHY</div> </div>

<div class= "topic3"> <div class="title">  ANIMALS </div> </div>

<div class= "topic4"> <div class="title">  SPORTS</div> </div>

<div class= "topic5"> <div class="title">  MATHS</div> </div>

</div>


<div style="margin-top: 2em"> </div>

<i class="imgL qMark fa-solid fa-question"></i> 
<i class="imgR qMark fa-solid fa-question"></i> 
<div id="clear"></div>
 
<i class="imgL qMark fa-solid fa-question"></i>  
<i class="qMark fa-solid fa-question"></i>  


<i class="imgR qMark fa-solid fa-question"></i>
<i class="imgR qMark fa-solid fa-question"></i> 
<div id="clear"></div>


<footer>

<!--Footer content -->
<small>&copy; 2023, Bouchra Mohamed Lemine.</small>

</footer>


</body>


</html>
